USE [khosrowshah]
GO
/****** Object:  Table [dbo].[DistributionTMP]    Script Date: 8/6/2020 10:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributionTMP](
	[Id] [float] NULL,
	[Etehadie] [nvarchar](255) NULL,
	[Taavoni] [nvarchar](255) NULL,
	[Shahrestan] [nvarchar](255) NULL,
	[NamVaNameKhanevadegi] [nvarchar](255) NULL,
	[CodeMelli] [float] NULL,
	[AddressVaNameRusta] [nvarchar](255) NULL,
	[Telephone] [float] NULL,
	[ShomareOzviateTaavoni] [float] NULL,
	[NoeFaaliat] [nvarchar](255) NULL,
	[ZarfiatYaTedadeDamoTiur] [float] NULL,
	[NodeNahade] [nvarchar](255) NULL,
	[MeqdareTahviliKG] [nvarchar](255) NULL,
	[QeymateHarKGbeRIAL] [nvarchar](255) NULL,
	[MaheSahmie] [nvarchar](255) NULL,
	[F16] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DistributionTMP] ([Id], [Etehadie], [Taavoni], [Shahrestan], [NamVaNameKhanevadegi], [CodeMelli], [AddressVaNameRusta], [Telephone], [ShomareOzviateTaavoni], [NoeFaaliat], [ZarfiatYaTedadeDamoTiur], [NodeNahade], [MeqdareTahviliKG], [QeymateHarKGbeRIAL], [MaheSahmie], [F16]) VALUES (1, N'اتحاديه صنعت دامپروري استان', N'تعاونی ', N'خسروشاه', N'عباس اشرفی', 1709832282, N'آخوله', 32752053, 1, NULL, 120, N'سبوس', NULL, NULL, NULL, NULL)
INSERT [dbo].[DistributionTMP] ([Id], [Etehadie], [Taavoni], [Shahrestan], [NamVaNameKhanevadegi], [CodeMelli], [AddressVaNameRusta], [Telephone], [ShomareOzviateTaavoni], [NoeFaaliat], [ZarfiatYaTedadeDamoTiur], [NodeNahade], [MeqdareTahviliKG], [QeymateHarKGbeRIAL], [MaheSahmie], [F16]) VALUES (2, N'اتحاديه صنعت دامپروري استان', N'تعاونی ', N'خسروشاه', N'محمد آقاجان', 1709686774, N'تازه کند', 9143090726, 2, NULL, 72, N'سبوس', NULL, NULL, NULL, NULL)
INSERT [dbo].[DistributionTMP] ([Id], [Etehadie], [Taavoni], [Shahrestan], [NamVaNameKhanevadegi], [CodeMelli], [AddressVaNameRusta], [Telephone], [ShomareOzviateTaavoni], [NoeFaaliat], [ZarfiatYaTedadeDamoTiur], [NodeNahade], [MeqdareTahviliKG], [QeymateHarKGbeRIAL], [MaheSahmie], [F16]) VALUES (3, N'اتحاديه صنعت دامپروري استان', N'تعاونی ', N'خسروشاه', N'محمود چراغی', 1709144807, N'آخوله', 32752362, 3, NULL, 54, N'سبوس', NULL, NULL, NULL, NULL)
GO
