USE [khosrowshah]
GO
/****** Object:  Table [dbo].[MalInfosTMp]    Script Date: 8/6/2020 10:34:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MalInfosTMp](
	[Id] [float] NULL,
	[NameDamdar] [nvarchar](255) NULL,
	[Rusta] [nvarchar](255) NULL,
	[TotalMal] [float] NULL,
	[TotalCow] [float] NULL,
	[TotalGowMish] [float] NULL,
	[Marhale1] [nvarchar](255) NULL,
	[Marhale2] [float] NULL,
	[PKFrom] [nvarchar](255) NULL,
	[PKTo] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[MalInfosTMp] ([Id], [NameDamdar], [Rusta], [TotalMal], [TotalCow], [TotalGowMish], [Marhale1], [Marhale2], [PKFrom], [PKTo]) VALUES (1, N'مصطفی بهار', N'نوجه ده', 55, 29, 26, NULL, 89, N'6735-6762', N'4666-4693')
INSERT [dbo].[MalInfosTMp] ([Id], [NameDamdar], [Rusta], [TotalMal], [TotalCow], [TotalGowMish], [Marhale1], [Marhale2], [PKFrom], [PKTo]) VALUES (2, N'غلام جودی', N'قزل دیزج', 30, 13, 17, NULL, 192, N'6817-6829', N'7631-7647')
INSERT [dbo].[MalInfosTMp] ([Id], [NameDamdar], [Rusta], [TotalMal], [TotalCow], [TotalGowMish], [Marhale1], [Marhale2], [PKFrom], [PKTo]) VALUES (3, N'محرم ابطحی', N'نوجه ده', 22, 22, 0, NULL, 128, N'6711-6733', NULL)
GO
