USE [khosrowshah]
GO
/****** Object:  Table [dbo].[DistributionTemp]    Script Date: 8/6/2020 10:33:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistributionTemp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Etehadie] [nvarchar](255) NULL,
	[Taavoni] [nvarchar](255) NULL,
	[Shahrestan] [nvarchar](255) NULL,
	[NamVaNameKhanevadegi] [nvarchar](255) NULL,
	[CodeMelli] [float] NULL,
	[AddressVaNameRusta] [nvarchar](255) NULL,
	[Telephone] [float] NULL,
	[ShomareOzviateTaavoni] [float] NULL,
	[NoeFaaliat] [nvarchar](255) NULL,
	[ZarfiatYaTedadeDamoTiur] [float] NULL,
	[NodeNahade] [nvarchar](255) NULL,
	[MeqdareTahviliKG] [nvarchar](255) NULL,
	[QeymateHarKGbeRIAL] [nvarchar](255) NULL,
	[MaheSahmie] [nvarchar](255) NULL,
	[F16] [nvarchar](255) NULL,
	[HomeTelephone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Distribution_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DistributionTemp] ON 

INSERT [dbo].[DistributionTemp] ([Id], [Etehadie], [Taavoni], [Shahrestan], [NamVaNameKhanevadegi], [CodeMelli], [AddressVaNameRusta], [Telephone], [ShomareOzviateTaavoni], [NoeFaaliat], [ZarfiatYaTedadeDamoTiur], [NodeNahade], [MeqdareTahviliKG], [QeymateHarKGbeRIAL], [MaheSahmie], [F16], [HomeTelephone]) VALUES (312, N'اتحاديه صنعت دامپروري استان', N'تعاونی', N'خسروشاه', N'عباس اشرفی', 1709832282, N'آخوله', 32752053, 1, NULL, 120, N'سبوس', NULL, NULL, NULL, NULL, N'3.27521e+007')
INSERT [dbo].[DistributionTemp] ([Id], [Etehadie], [Taavoni], [Shahrestan], [NamVaNameKhanevadegi], [CodeMelli], [AddressVaNameRusta], [Telephone], [ShomareOzviateTaavoni], [NoeFaaliat], [ZarfiatYaTedadeDamoTiur], [NodeNahade], [MeqdareTahviliKG], [QeymateHarKGbeRIAL], [MaheSahmie], [F16], [HomeTelephone]) VALUES (313, N'اتحاديه صنعت دامپروري استان', N'تعاونی ', N'خسروشاه', N'محمد آقاجان', 1709686774, N'تازه کند', 9143090726, 2, NULL, 72, N'سبوس', NULL, NULL, NULL, NULL, N'9.14309e+009')
INSERT [dbo].[DistributionTemp] ([Id], [Etehadie], [Taavoni], [Shahrestan], [NamVaNameKhanevadegi], [CodeMelli], [AddressVaNameRusta], [Telephone], [ShomareOzviateTaavoni], [NoeFaaliat], [ZarfiatYaTedadeDamoTiur], [NodeNahade], [MeqdareTahviliKG], [QeymateHarKGbeRIAL], [MaheSahmie], [F16], [HomeTelephone]) VALUES (314, N'اتحاديه صنعت دامپروري استان', N'تعاونی ', N'خسروشاه', N'محمود چراغی', 1709144807, N'آخوله', 32752362, 3, NULL, 54, N'سبوس', NULL, NULL, NULL, NULL, N'3.27524e+007')
GO
SET IDENTITY_INSERT [dbo].[DistributionTemp] OFF
