# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.KhInventoryAuth.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\mohammad\workplace\1399\mehr\khInventory\KhInventoryAuth\.idea\.idea.KhInventoryAuth.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
