@model List<my_webapp.Controllers.MalinfosViewModel>

@{
    ViewBag.Title = "حذف اطلاعات و تصحیح اطلاعات";
    Layout = "_Layout";
}
    <a href="/ConnectMalinfoToDistribution/Index" > ویرایش لیست</a>


<h2>حذف اطلاعات و تصحیح اطلاعات</h2>


<div class="row">
    <table class="table col-md-12">
        <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>
                    <form asp-controller="ConnectMalinfoToDistribution" asp-action="Delete" method="post">

                        <input hidden="hidden" value="@m.malinfo.Id" name="malId"/>
                        <input type="submit" value="حذف"/>

                    </form>

                </td>
                <td>@m.distribution.NamVaNameKhanevadegi</td>
            </tr>
        }
        </tbody>
    </table>
</div>